.search-box__container{
  position: relative;
  width: 400px;
  background: #E8E9EB;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
  transition: 0.6s ease-out;
}

.search-box{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #E8E9EB;
}

.search-box__input{
  background: #E8E9EB;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  padding-left: 32px;
}

.search-box__input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: #06283D;
}

.search-box__button{
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #06283D;
  background: #E8E9EB;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}

.search-box__button:hover{
  color: #E8E9EB;
  background: #ACADA8;
}

.search-box__loader-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ACADA8;
  opacity: 0.9;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}
